/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/vendor/normalize/normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 10, ../sass/vendor/normalize/normalize.sass */
audio, canvas, video {
  display: inline-block;
}

/* line 13, ../sass/vendor/normalize/normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 21, ../sass/vendor/normalize/normalize.sass */
[hidden] {
  display: none;
}

/* line 27, ../sass/vendor/normalize/normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 36, ../sass/vendor/normalize/normalize.sass */
body {
  margin: 0;
}

/* line 44, ../sass/vendor/normalize/normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 48, ../sass/vendor/normalize/normalize.sass */
a:active, a:hover {
  outline: 0;
}

/* line 55, ../sass/vendor/normalize/normalize.sass */
h1 {
  font-size: 2em;
}

/* line 59, ../sass/vendor/normalize/normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 63, ../sass/vendor/normalize/normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 67, ../sass/vendor/normalize/normalize.sass */
dfn {
  font-style: italic;
}

/* line 71, ../sass/vendor/normalize/normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 76, ../sass/vendor/normalize/normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 81, ../sass/vendor/normalize/normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 87, ../sass/vendor/normalize/normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 91, ../sass/vendor/normalize/normalize.sass */
small {
  font-size: 80%;
}

/* line 95, ../sass/vendor/normalize/normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 101, ../sass/vendor/normalize/normalize.sass */
sup {
  top: -0.5em;
}

/* line 104, ../sass/vendor/normalize/normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 111, ../sass/vendor/normalize/normalize.sass */
img {
  border: 0;
}

/* line 115, ../sass/vendor/normalize/normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 122, ../sass/vendor/normalize/normalize.sass */
figure {
  margin: 0;
}

/* line 129, ../sass/vendor/normalize/normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 134, ../sass/vendor/normalize/normalize.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 141, ../sass/vendor/normalize/normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 152, ../sass/vendor/normalize/normalize.sass */
button, input {
  line-height: normal;
}

/* line 155, ../sass/vendor/normalize/normalize.sass */
button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 164, ../sass/vendor/normalize/normalize.sass */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 168, ../sass/vendor/normalize/normalize.sass */
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
/* line 175, ../sass/vendor/normalize/normalize.sass */
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 185, ../sass/vendor/normalize/normalize.sass */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 189, ../sass/vendor/normalize/normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 193, ../sass/vendor/normalize/normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 204, ../sass/vendor/normalize/normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 17, ../sass/screen.scss */
#content {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/screen.scss */
#preview {
  width: 66.10169%;
  height: 6em;
  margin: 0 auto;
}
/* line 25, ../sass/screen.scss */
#preview .gradbox {
  width: 100%;
  height: 100%;
}

/* line 31, ../sass/screen.scss */
#stops-container {
  overflow: hidden;
}

/* line 34, ../sass/screen.scss */
#stops-container > div {
  float: left;
  position: relative;
  left: 50%;
}

/* line 39, ../sass/screen.scss */
#stops {
  overflow: hidden;
  *zoom: 1;
  float: left;
  position: relative;
  left: -50%;
  padding: 1em;
}
/* line 46, ../sass/screen.scss */
#stops li {
  float: left;
  list-style: none;
  margin: 0 1em 0 0;
}
/* line 50, ../sass/screen.scss */
#stops li.stop {
  position: relative;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}
/* line 56, ../sass/screen.scss */
#stops li.blank input {
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: .3;
}
/* line 61, ../sass/screen.scss */
#stops li.blank.active input, #stops li.blank:hover input {
  opacity: 1;
}
/* line 67, ../sass/screen.scss */
#stops li input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 1em auto;
  text-align: center;
}
/* line 72, ../sass/screen.scss */
#stops li input.position {
  width: 4em;
}
/* line 75, ../sass/screen.scss */
#stops li input.color {
  width: 6em;
}
